body {
  background: #34af23;
}

main {
  width: 940px;
  margin: 0 auto;
  text-align: center;
}

h1, h2 {
  color:white;
}

p {
  color:white;
  font-size: 20px;
}

.telefone {
  display: block;
  width: 20%;
  padding: 10px 10px;
  border: 2px solid #000000;
  border-radius: 10px;
  margin: 2em auto 0;
}

.botao {
  display: block;
  width: 20%;
  padding: 10px 10px;
  background: #FF0000;
  color: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 10px;
  margin: 2em auto;
  cursor: pointer;
  transition: 1s all;
}

.botao:hover {
  background: darkorange;
  transform: scale(1.1);
}

main img {
  margin: 3em 0 7em;
  width: 10%;
}

footer {
  width: 940px;
  margin: 0 auto;
  color: #FFFFFF;
  text-align: center;
}

 footer img {
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

@media only screen and (max-width: 480px) {
  main, footer {
    width: 80%;
    margin: 0 10%;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 22px;
  }
  
  .telefone {
    width: 80%;
  }
  
  .enviar {
    width: 60%;
  }
  
  main img {
    width: 20%;
    margin: 2em 0;
  }
  
  footer p {
    font-size: 16px;
  }
  
  footer img {
    width: 24px;
    height: 24px;
  }
}
